/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/04/2016, 8:54:39 PM
    Author     : sunil
*/
.grad {
    height: 100%;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ABC9E2, #0B70C7); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ABC9E2, #0B70C7); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ABC9E2, #0B70C7); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ABC9E2, #0B70C7); /* Standard syntax */
}

.top-menu-bar{
    height: 50px; 
    border: 1px solid #777; 
    background-color: #eee; 
    margin-right: 100px; 
    margin-left: 100px;
}

.title{
    padding-left: 0px;
}

.body-cont{
    position: fixed;
    left: 0%;
    top: 20%;
    height: 200px;
    margin-top: -120px; /* half of you height */
    margin-left: 0px;
    width: 100%;
    /*margin-left: -200px /* half of you width */
}

.first-col{
    padding-right: 20px;
}
.tbl-rows{
    height: 30px;
    padding-bottom: 20px;
}
.input-col{
    margin-top: 10px;
    height: 50px;
    width: 60%;
}

.confirmation{
    border: 1px solid #ccc;

    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #eee;
    padding-bottom: 10px;
}

.padd-100px{
    width:10%;
    padding-left: 00px;
}
.create-part{
    margin-top: 20px;
}

.right-btn{
    position: relative;
    float: right;
    height: 40px;
    padding-left: 20px;
    margin-right: 320px;
}

.q-submit{
    float: right;
    height: 40px;
    padding-left: 20px;
    margin-right: 250px;
}

.s-submit{
    float: right;
    height: 40px;

    margin-right: 320px;
}

.form{
    padding-left : 100px;
    margin-top: 30px;
    width: 100%;
}

.bodycontainer { 
    max-height: 450px; 
    width: 50%; 
    margin: 0; 
    overflow-y: auto; 
}


#dataTable{
    width: 50%;
    height: 450px;
}